.hh1, .container {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.h1{
    max-width:50% ;
    margin-top: 100px;
    background-color: #ec4335;
    border-color: #000000;
    padding: 5px;
}
.planesi{
    display: flex;
    justify-content: space-between;
}
.plan {
    width: 23%;
    max-width: 25%;
    height: 100%;
    max-height: 110%;
    background-color: #a24747;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align:justify;
}

/* .plan h2 {
    margin-top: 
    font-size: 20px;
    color: #333;
}

.plan p {
    font-size: 14px;
    color: #666;
}

.plan .price {
    font-size: 13px;
    font-weight: bold;
    color: #e53935;
}

.plan .features {
    list-style: none;
    padding: 0;
}

.plan .features li {
    background: url('./logop.png');
    padding-left: 25px;
    margin: 10px 0;
    color: #333;
}
 */

.log-in {
    width: 100px;
    height: 50px;
    min-width: 80px;
    background-color: #000000;
    color:#ec4335 ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;

}
