.planes, .container {
    width: 80%;
    padding: 20px;
    display: flex;
}

.plan {
    width: 30%;
    background-color: #fff;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.plan p {
    font-size: 14px;
    color: #666;
}

.plan .price {
    font-size: 13px;
    font-weight: bold;
    color: #e53935;
}

.plan .features {
    list-style: none;
    padding: 0;
}

.plan .features li {
    background: url('./logo.png');
    padding-left: 25px;
    margin: 10px 0;
    color: #333;
}


.log-in {
    width: 100px;
    height: 50px;
    background-color: #000000;
    color:#ec4335 ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;

}
