 .login, form{
    width: 50%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255,255, 0.1);
    box-shadow:0 0 40px rgba(8,7, 16, 0.6) ;
    padding: 30px 30px;
    font-family: 'mclaren','mclaren';
    color: #eb4335;
    letter-spacing: 0.5px;
    outline: none;
}
 .login,  h3{
    font-size: 25px;
    font-weight:500 ;
    line-height: 42px;
    text-align: center;
}
.login, label{
display:block;
margin-top: 25px;
font-size: 16px;
font-weight: 500px;
}
 .login,input{
    display:flex;
    height: 50px;
    width: 95%;
    background-color: rgba(255, 255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
::placeholder{
    color: #828282
}
.login,button{
   /* margin-top: 10px;*/
   height: 45px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color:#eb4335 ;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.social{
    margin-top: 30px;
    display: flex;
}
.social div{
    background:#eb4335;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255,255, 0.27);
    color: #000000;
    text-align: center;

}
.social div:hover{
    background-color: rgba(255, 255, 255, 0.47)
}
.social .fb{
    margin-left: 20px;
}
.social i{
    margin-left: 4px;
    color: #eb4335;
}

.pag-prin{
    width: 100px;
    height: 50px;
    background-color: #000000;
    color:#ec4335 ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}